* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}


/*Entire game screen  */

.gameContainer {
    background: url(media/gameBg1.jpg) no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
}


/* Classes for introductory message,instruction and animations*/

.starting {
    position: absolute;
    top: 5.9rem;
    left: 15.7rem;
    color: aliceblue;
    font-family: "Reggae One", cursive;
    font-size: 200%;
    text-align: center;
    text-shadow: 0px 3px 3px #000000;
}

.startingAnimation {
    animation: introAnimation 1s linear;
}

.instruction {
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.playBtn {
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 60%;
    background: transparent;
    color: white;
}

.playBtn:hover {
    background-color: rgb(139, 255, 187);
    color: brown;
    border-color: brown;
    transform: scale(1.1);
}

@keyframes introAnimation {
    0% {
        top: 5.9rem;
        opacity: 1;
    }
    100% {
        top: 0rem;
        opacity: 0;
    }
}


/* Score section  */

.score {
    display: none;
    position: absolute;
    left: 44.5vw;
    width: 10vw;
    height: 4vw;
    text-align: center;
    border-radius: 0.5rem;
    color: #e1be00;
    text-shadow: 1px 2px 3px black;
    font-size: 300%;
    font-family: 'Emilys Candy', cursive;
    font-weight: bold;
}


/* Game Over  */

.gameOver {
    display: none;
    text-align: center;
    position: absolute;
    left: 34.1vw;
    top: 28vh;
    height: min-content;
    font-size: 400%;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(255, 175, 133);
    text-shadow: 0px 2px 7px #000000;
    animation: gameOverMoveDownAnimation 3s linear;
}


/* Animaton that brings down 'gameover' message from screen top to middle  */

@keyframes gameOverMoveDownAnimation {
    0% {
        top: 0rem;
    }
    50% {
        top: 14vh;
    }
    100% {
        top: 28vh;
    }
}


/* The attacker  */

.attacker {
    display: none;
    position: absolute;
    background: url(media/attacker1.png) no-repeat;
    background-size: 100%;
    height: 35vh;
    width: 30vh;
    bottom: 0vh;
}

.attackerAnimate {
    animation: attackerAnimate 3.7s linear infinite;
}

@keyframes attackerAnimate {
    0% {
        left: 100vw;
    }
    100% {
        left: -15vw;
    }
}


/* The gladiator  */

.person {
    display: none;
    position: absolute;
    background: url(media/person1.png) no-repeat;
    background-size: 100%;
    height: 30vh;
    width: 25vh;
    bottom: 1.5vh;
    left: 10vw;
}


/* Animation to show the gladiator falling  */

.personFall {
    display: none;
    animation: gladiatorFall 0.8s linear;
}


/* animation class to make the gladiator jump  */

.personJump {
    display: none;
    animation: personJump 1.5s linear;
}

@keyframes gladiatorFall {
    0% {
        bottom: 100vh;
    }
    80% {
        bottom: 0vh;
    }
    90% {
        bottom: 5vh;
    }
    100% {
        bottom: 1.5vh;
    }
}

@keyframes personJump {
    0% {
        bottom: 0vh;
    }
    25% {
        bottom: 50vh;
    }
    50% {
        right: 1vh;
        bottom: 35vh;
    }
    60% {
        right: 2vh;
        bottom: 25vh;
    }
    70% {
        bottom: 15vh;
    }
    80% {
        bottom: 5vh;
    }
    90% {
        bottom: 0vh;
    }
    100% {
        bottom: 0vh;
    }
}