.clock {
    position: relative;
    margin: auto;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    height: 20vw;
    width: 20vw;
    /* height: 200px;
    width: 200px; */
    margin-top: 5%;
}

.centre {
    position: absolute;
    left: 48.6%;
    top: 49%;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
    background-color: black;
}

.hourHand {
    position: absolute;
    left: 49.82%;
    top: 29.75%;
    width: 0.5vw;
    height: 4.5vw;
    background-color: black;
    transform-origin: bottom;
    /* display: none; */
}

.minHand {
    position: absolute;
    left: 50.4%;
    top: 22.5%;
    width: 0.3vw;
    height: 5.9vw;
    background-color: rgb(44, 44, 44);
    transform-origin: bottom;
    /* display: none; */
}

.secHand {
    position: absolute;
    left: 50.69%;
    top: 12%;
    width: 0.2vw;
    height: 8vw;
    background-color: rgb(73, 73, 73);
    transform-origin: bottom;
    /* display: none; */
}